<div class="">
  <h1 class="">My expenses</h1>
  <div class="">
    <%= button_to 'LOG IN', user_session_path, method: :get, autofocus: true,
      class:'' %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get,
    class:'' %>
  </div>
</div>
