<div class="user-index-container">
  <h1 class="app-title">My expenses</h1>
  <div class="">
    <%= button_to 'LOG IN', user_session_path, method: :get, autofocus: true,
      class:'button login-btn' %>
    <%= button_to 'SIGN UP', new_user_registration_path, method: :get,
    class:'button signup-btn' %>
  </div>
</div>
