@import url('https://fonts.googleapis.com/css?family=proxima-nova:thin,extra-light,light,bold,100,200,300,400,500,600,700,800');

*,
body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}

html {
  background-color: #eff3f4;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/*  User index   */
.center-div {
  justify-content: center;
  text-align: center;
}

.user-index-container {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-title {
  font-size: 5rem;
}

.button {
  width: 90vw;
  height: 2rem;
  margin: 0.5rem 0;
  align-items: flex-end;
  color: #fff;
  border: none !important;
}

.login-btn {
  background-color: #3778c2;
}

.signup-btn {
  background-color: #808080;
}

.green-btn {
  background-color: #5fb523;
}

.input {
  color: #000;
  background-color: #fff;
}

/* Navbar style */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #3778c2;
  margin-bottom: 25px;
}

.nav-login {
  color: white;
  font-size: 1.2em;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.nav-btn {
  color: #fff;
  font-size: 1.5em;
  padding: 0 10px;
}

/* Group Style */
.link-btn {
  margin: auto;
  text-decoration: none;
  color: #fff;
}

.btn-new {
  width: 90vw;
  border: 2px solid #fff !important;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.btn-container {
  height: 10vh;
  padding: auto;
}

.groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.group-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 20px;
  width: 90%;
  height: 10vh;
  border: 1px solid var(--text-color);
  background-color: #fff;
}

.container {
  display: flex;
  margin: 0.5rem auto;
  justify-content: space-around;
}
